.singleTableContainer {
  border: 0.2rem solid #90ee90;
  padding: 1rem;
  margin: 1rem;

}

.mainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.vl {
  height: auto;
  width: 0.3rem;
  background-color: lightgreen;
}


.multiTableContainer {
  min-width: 50vw;
  max-height: 90vh;
  overflow: scroll;
}

.codeMirror{
  max-width: 40vw;
}