.bg_image{
    object-fit: contain;
    transition: all 200ms ease-in;
    cursor: grab;
    width: 40vw;
    height: 70vh;
}

.HomeWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.landing_text{
    text-align: center;
    font-size: 5rem;
}
