/* Media Queries */

@media (width <=480px) {

    .mainWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .vl {
        height: 0.1rem;
        width: auto;
        background-color: lightgreen;
    }

    .HomeWrapper {
        flex-direction: column;
    }

    .landing_text {
        font-size: 6.6rem;
    }

    .bg_image {
        height: 40vh;
        object-fit: cover;
        width: 80vw;
        transition: all 200ms ease-in;
        cursor: grab;
        max-width: 100vw;
        max-height: 50vh;
    }
}


/* Navbar Responsiveness */
@media (width <=480px) {
    .navComponent-container {
        padding: 0rem;
        font-size: large;
    }

    .navbar-container {
        flex-direction: column;
    }

    .primary-section {
        width: 90vw;
    }

    .secondary-section {
        flex-direction: column;
        gap: 0px;
        align-items: center;
        /* padding-right: 2rem; */
    }
    
    .secondary-section>* {
        justify-content: center;
        text-align: center;
        padding: 0.5rem;
        width: 100vw;
    }
    .userName{
        font-size: large;
    }
}